.editor-container
	border 1px solid rgba(0, 0, 0, 0.125)
	padding 8px
	
	.react-mde
		.mde-text
			textarea
				min-height 250px !important

		.mde-preview
			min-height 250px

		.mde-help
			a.markdown-help
				svg.markdown-help-svg
					vertical-align middle !important