.login-wrapper
	display flex
	height 100%
	flex-direction column

	.login-form
		width 300px
		margin auto
		align-self center

		.login-title
			font-size 30px
			text-align center

		.login-form-button
			width 100%

	.copyright
		align-self center

	#particles
		position absolute
		top 0
		z-index -1
		width 100%
		height 100%

		.canvas
			display block