*
  box-sizing border-box
  margin 0
  padding 0
  
html, body
  font-family Verdana
  font-size 13px
  height 100%
  
ul
  list-style-type none
  padding 0
  margin 0
  li
    display inline
    
a
  color #000
  cursor pointer
  text-decoration none

#root
  height 100%
